@tailwind base;
@tailwind components;
@tailwind utilities;

.itemPosition {
    max-width: 2520px;
    margin-left: auto;
    margin-right: auto;
}
/* @media (min-width: 1280px) {
    .itemPosition {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 768px) {
    .itemPosition {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 640px) {
    .itemPosition {
        padding-left: 2px;
        padding-right: 2px;
    }
}

@media (min-width: 0px) {
    .itemPosition {
        padding-left: 4px;
        padding-right: 4px;
    }
} */


@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translate3d(0, 1000px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fade-enter-active {
    animation: fade-in-up 0.5s ease;
}



@keyframes fade-in-down {
    from {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    to {
        opacity: 0;
        transform: translate3d(0, 500px, 0);
    }
}

.fade-leave-active {
    animation: fade-in-down 0.5s ease;
}
/* .fade-enter-to {
    background-color: red;
} */



@keyframes show-settings {
    from {
        transform: translateY(-50%) scaleY(0);
        opacity: 0;
    }
    to {
        transform: translateY(0) scaleY(1); 
        opacity: 1;
    }
}
.settings-enter-active {
    animation: show-settings 0.3s cubic-bezier(.61,-0.53,.43,1.43);
}

.settings-leave-active {
    animation: show-settings 0.3s cubic-bezier(.61,-0.53,.43,1.43) reverse;
}






.nested-enter-active, .nested-leave-active {
	transition: all 0.3s ease-in-out;
}
/* delay leave of parent element */

/* .nested-leave-active {
  transition-delay: 2s;
} */

.nested-enter-from,
.nested-leave-to {
  transform: translateY(30px);
  opacity: 0;
}
