@tailwind base;
@tailwind components;
@tailwind utilities;

.itemPosition {
    max-width: 2520px;
    margin-left: auto;
    margin-right: auto;
}
/* @media (min-width: 1280px) {
    .itemPosition {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 768px) {
    .itemPosition {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 640px) {
    .itemPosition {
        padding-left: 2px;
        padding-right: 2px;
    }
}

@media (min-width: 0px) {
    .itemPosition {
        padding-left: 4px;
        padding-right: 4px;
    }
} */


@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translate3d(0, 1000px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fade-in-up {
    animation: fade-in-up 0.5s ease;
}
@keyframes fade-in-down {
    from {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    to {
        opacity: 0;
        transform: translate3d(0, 300px, 0);
    }
}

.fade-in-down {
    animation: fade-in-down 0.5s ease;
}